<!DOCTYPE html>
<html>
<head>
    <title>Attendance Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Attendance Management System</h1>
        <div class="card">
            <div class="button-row">
                <a href="/view_students" class="btn-link">View Students</a>
                <a href="/add_student" class="btn-link">Add Student</a>
            </div>
        </div>
    </div>
</body>
</html>